* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    background: #000;
    display: flex;
}

header p {
    font-size: 11.5px;
    margin-bottom: 15px;
}

.header__logo {
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    font-size: 24px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 12%;
}

nav {
    margin-top: 35px;
    margin-left: 29%;
}

.topnav a {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: bold;
}

.topnav a:hover {
    border-bottom: 3px solid #fcac45;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 1200px) {
    nav {
        margin-left: 20%;
    }
}

@media screen and (max-width: 1105px) {
    nav {
        margin-left: 10%;
    }
}

@media screen and (max-width: 1100px) {
    .topnav a {
        display: none;
    }

    .topnav a.icon {
        float: right;
        margin-top: -17px;
        display: block;
        color: #fff;
        font-size: 25px;
    }

    nav {
        width: 100%;
    }

    .topnav.responsive {
        position: relative;
        top: 50px;
        left: -200px;
    }

    header .topnav.responsive {
        height: 340px;

    }

    .topnav.responsive a.icon {
        position: absolute;
        top: -50px;
        left: -200px;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

